@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Text:ital@0;1&family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #162456;
  --white: #fff;
  --deepgreen: #032e15;
  --lightgreen: #00c950;
  --brown: #653b09;
}

body{
     font-family: "Inter", sans-serif;
}
.container {
  max-width: 1357px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

header {
  position: absolute;
  width: 100%;
  z-index: 100;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
}

.nav-links li {
  padding: 18px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.logo a {
  display: block;
  max-width: 125px;
  font-size: 30px;
  font-weight: 600;
}

.nav-links a {
  font-weight: 400;
  font-size: 16px;
  color: var(--blue);
}

.hamburger {
  display: none;
}

.cmn-btn {
  display: inline-block;
  background: linear-gradient(to bottom, #032e15, #016630);
  padding: 13px 30px;
  color: var(--white);
  border-radius: 50px;
  font-size: 18px;
  transition: 0.3s ease-in-out;
}

.cmn-btn:hover {
  background: linear-gradient(to bottom, #162456, #0933cc);
}

.navbtn i {
  font-size: 26px;
  margin-right: 10px;
  margin-top: 15px;
  color: var(--deepgreen);
}

/* banner */

.banner {
  position: relative;
  background: url("image/banner.png") no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 100%;
  min-height: 954px;
  display: flex;
  align-items: center;
}

.award h3 {
  background: linear-gradient(#418a5d, #5ba97c);
  width: 378px;
  max-width: 100%;
  padding: 13px;
  border-radius: 30px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: var(--white);
  position: relative;
  margin-bottom: 20px;
}

.award img {
  position: absolute;
  left: 21px;
}

.bannercard1 {
  margin-bottom: 20px;
}

.gradient-text{
       background:linear-gradient(to top, #3c9b63, #0c642f);
       -webkit-background-clip:text;
       -webkit-text-fill-color: transparent;
}

.bannercard1 h1 {
  font-size: 56px;
  font-weight: 700;
  color: var(--deepgreen);
}

.bannerbtn .cmn-btn {
  margin-top: 30px;
  padding: 13px 49px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.col60 {
  max-width: 60%;
  flex: 0 0 60%;
  padding: 0 15px;
}

.col40 {
  max-width: 40%;
  flex: 0 0 40%;
  padding: 0 15px;
}

.countersection {
  display: flex;
  justify-content: space-between;
  width: 510px;
  max-width: 100%;
  margin-top: 40px;
  margin-bottom: 10px;
}

.counterbox h2 {
  font-size: 72px;
  color: var(--deepgreen);
  font-weight: 700;
}

.counterbox p {
  color: var(--deepgreen);
  font-size: 22px;
  font-weight: 400;
}

/* product */

/* Main Content Section */
.product-section {
  padding: 40px 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.col50 {
  max-width: 50%;
  flex: 0 0 50%;
  padding: 0 15px;
}

/* Product Header */
.product-header {
  margin-bottom: 25px;
}

.product-header h1 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 8px;
  color:var(--deepgreen);
}

.rating {
  color: var(--lightgreen);
  font-size: 13px;
  margin-bottom: 12px;
}

.rating span {
  color: #666;
  margin-left: 5px;
}

.description {
  color: #555;
  font-size: 16px;
  line-height: 1.6;
}

/* Image Gallery */
.image-gallery {
  background: #e8e8e8;
  border-radius: 12px;
  /* padding: 20px 30px; */
  position: relative;
  height: 630px;
}

.slider-container {
  position: relative;
  margin-bottom: 30px;
}

.slider {
  position: relative;
  width: 100%;
  height: 590px;
  overflow: hidden;
}

.slider-track {
  display: flex;
  transition: transform 0.4s ease;
  height: 100%;
}

.slide {
  min-width: 100%;
  min-height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide img {
  max-width: 100%;
  width: 650px;
  height: 760px;
  object-fit: contain;
}

.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.95);
  border: 1px solid #ddd;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  z-index: 10;
  color: #333;
}

.slider-btn:hover {
  background: white;
}

.slider-btn.prev {
  left: 10px;
}

.slider-btn.next {
  right: 10px;
}

.slider-dots {
  display: flex;
  gap: 6px;
  justify-content: center;
  margin: 20px 0 0 0;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #bbb;
  cursor: pointer;
  transition: all 0.3s;
}

.dot.active {
  background: #333;
}

.plan-images {
  border: 1px solid var(--blue);
}

.plan-column {
  display: flex;
}

.plan-details h4 {
  font-weight: 400;
}

.benefits-list span {
  color: var(--deepgreen);
  font-weight: 600;
}

/* .include{
              display: flex;
              justify-content: space-between;
        } */

.bigimage {
  border: 1px solid #c2bebe;
  margin-top: 30px;
  padding: 20px;
  border-radius: 5px;
}

.bigimage:hover,
.smallimg:hover {
  border: 1px solid var(--blue);
}

.col40 {
  max-width: 40%;
  flex: 0 0 40%;
  padding: 0 15px;
}

.col60 {
  max-width: 60%;
  flex: 0 0 60%;
  padding: 0 15px;
}

.smallimg {
  margin-top: 32px;
  border: 1px solid #c4bdbd;
  padding: 40px 10px;
  border-radius: 5px;
}

/* Thumbnails */
.thumbnail-container {
  margin-top: 25px;
}

.thumbnail-row {
  display: flex;
  gap: 12px;
  justify-content: center;
  margin-bottom: 12px;
}

.thumbnail-row:last-child {
  margin-bottom: 0;
}

/* .thumbnail {
            width: 150px;
            height: 130px;
            border-radius: 8px;
            overflow: hidden;
            cursor: pointer;
            border: 2px solid transparent;
            transition: border-color 0.3s;
        } */

.thumbnail:hover {
  border-color: #4caf50;
}

.thumbnail.active {
  border-color: #4caf50;
}

.thumbnail img {
  max-width: 100%;
  width: 132px;
  min-height: 130px;
  /* object-fit: cover; */
}

/* Product Options */
.product-options {
  background: white;
  border-radius: 12px;
}

.popular-badge {
  background: linear-gradient(to right, #00c950, #032e15);
  color: white;
  padding: 12px;
  border-radius: 8px 8px 0 0;
  font-weight: 600;
  text-align: center;
  font-size: 15px;
}

.subscription-card {
  border: 2px solid #e0e0e0;
  border-radius: 0 0 8px 8px;
  padding: 25px;
  margin-bottom: 9px;
}

.subscription-option {
  border: 2px solid #e0e0e0;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 15px;
  cursor: pointer;
  transition: all 0.3s;
}

.subscription-option:hover {
  border-color: #2d7a3e;
}

.subscription-option.active {
  border-color: #2d7a3e;
  background: #f0f8f0;
}

.option-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.option-header label {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

.option-header input[type="radio"] {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.price {
  font-size: 24px;
  font-weight: 700;
  color: #1a1a1a;
}

.old-price {
  text-decoration: line-through;
  color: #999;
  font-size: 16px;
  margin-left: 8px;
  font-weight: 400;
}

/* Fragrance Selection */
.fragrance-selection {
  /* text-align: center; */
  margin: 20px 0;
}

.fragrance-selection h3 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #333;
  margin-left: 20px;
}

.fragrance-options-row {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 20px;
}

.fragrance-item {
  text-align: center;
  cursor: pointer;
  padding: 8px;
  border-radius: 8px;
  transition: background 0.3s;
}

.fragrance-item:hover {
  background: #f5f5f5;
}

.fragrance-item img {
  width: 120px;
  height: 120px;
  object-fit: contain;
  margin-bottom: 8px;
}

.fragrance-label {
  font-size: 11px;
  color: #666;
}

/* Plan Details */
.plan-details {
  border-top: 1px dashed #ccc;
  padding-top: 20px;
  margin-top: 20px;
}

.plan-row {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.plan-column {
  flex: 1;
  text-align: center;
}

.plan-column h4 {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 12px;
  color: #333;
}

.plan-images {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.plan-images img {
  width: 50px;
  height: 70px;
  object-fit: contain;
}

.plan-info {
  font-size: 12px;
  color: #666;
  margin-bottom: 8px;
}

.bigimage img {
  max-width: 100%;
  width: 115px;
}

.smallimg img {
  max-width: 100%;
  width: 96px;
}

/* .redcent{
               margin-top: 10px;
        } */

/* Benefits List */
.benefits-list {
  list-style: none;
  margin-top: 15px;
}

.benefits-list li {
  padding: 6px 0;
  color: #555;
  font-size: 13px;
  position: relative;
  padding-left: 20px;
}

.benefits-list li img {
  position: absolute;
  left: 1px;
}

/* .benefits-list li:before {
            content: "✓";
            color: #2d7a3e;
            font-weight: bold;
            position: absolute;
            left: 0;
        } */

/* Add to Cart Button */
.add-to-cart-btn {
  width: 100%;
  background: linear-gradient(to bottom, #032e15, #016630);
  color: white;
  border: none;
  padding: 16px;
  border-radius: 38px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease-in;
  margin-top: 20px;
}

.add-to-cart-btn:hover {
  background: linear-gradient(to bottom, #162456, #0933cc);
}

/* collection */

.collection {
  padding: 60px;
}

.collection-wrapper {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

.accordion {
  width: 50%;
  margin-top: 110px;
}

.accordion-item {
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 15px;
  overflow: hidden;
}

.accordion-header {
  padding: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-weight: 600;
}

.accordion-header h2 {
  font-size: 20px;
  font-weight: 600;
}

.accordion-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
  padding: 0 18px;
}

.accordion-item.active .accordion-body {
  max-height: 150px;
  padding-bottom: 18px;
}

.icon {
  font-size: 22px;
}

.collections img {
  width: 100%;
  border-radius: 16px;
}

.accordion h2 {
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 36px;
  color: var(--deepgreen);
}

/* why */

.comparison {
  padding: 60px 20px;
  text-align: center;
}

.comparison h2 {
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 36px;
  color: var(--deepgreen);
}

.table-wrap {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  min-width: 700px;
}

th,
td {
  padding: 16px;
  border-bottom: 1px solid #ddd;
  text-align: center;
  font-size: 14px;
}

th:first-child,
td:first-child {
  text-align: left;
  font-weight: 500;
}

th img {
  width: 108px;
  height: 88px;
  object-fit: cover;
  border-radius: 10px;
  display: block;
  margin: 0 auto 8px;
}

.highlight {
  background: #ecf8f1;
  font-weight: 600;
}

.cta {
  margin-top: 40px;
  padding: 14px 32px;
  color: #fff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 15px;
}

.smallcontainer {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.table-wrap span {
  font-size: 20px;
  font-weight: 400;
  color: #000;
}

.table-wrap h4 {
  font-size: 16px;
  font-weight: 600;
  color: #666;
}

.table-wrap i {
  font-size: 20px;
}

/* percent */

.percent {
  padding: 60px 0;
  background: linear-gradient(to bottom, #032e15, #016630);
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.col25 {
  max-width: 25%;
  flex: 0 0 25%;
  padding: 0 15px;
}

.cards1 {
  text-align: center;
}

.cards1 h3 {
  font-size: 40px;
  font-weight: 600;
  color: var(--white);
  margin-bottom: 10px;
}

.cards1 p {
  color: var(--white);
  font-weight: 300;
}

/* footer */

footer {
  padding: 60px 0;
  background: var(--deepgreen);
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.col20 {
  max-width: 20%;
  flex: 0 0 20%;
  padding: 0 15px;
}

.col40 {
  max-width: 40%;
  flex: 0 0 40%;
  padding: 0 15px;
}

.footerlogo {
  margin-bottom: 35px;
}

.footerlogo a {
  color: var(--white);
  font-size: 43px;
  font-weight: 700;
}

.links a {
  color: var(--white);
  font-size: 16px;
  font-weight: 300;
}

.links li {
  margin-top: 17px;
}

.links {
  position: relative;
}

.links i {
  position: absolute;
  left: -33px;
  font-size: 19px;
}

.join h3 {
  color: var(--white);
  margin-bottom: 19px;
  font-weight: 600;
  font-size: 16px;
}

.emails {
  display: flex;
  margin: 0 -5px;
}

.email,
.submit {
  padding: 0 5px;
}

.submit input {
  padding: 14px 40px;
  background: var(--brown);
  color: var(--white);
  border: none;
}

.email input {
  padding: 13px 83px;
  max-width: 100%;
  background: transparent;
  border: 1px solid var(--white);
  color: var(--white);
}

.join p {
  color: var(--white);
  font-size: 12px;
  font-weight: 300;
  margin-top: 15px;
}

/* 1399 */

@media(max-width:1399px){
         .award h3{
               font-size: 14px;
         }

         .submit input{
                padding: 15px 30px;
         }
}
/* 1199px */

@media (max-width: 1199px) {
  .fragrance-item img {
    width: 80px;
  }

  /* percent */

  .col25 {
    max-width: 50%;
    flex: 0 0 50%;
  }

  .cards1 {
    margin-bottom: 20px;
  }

  /* footer */

  footer .col60,
  footer .col20 {
    max-width: 50%;
    flex: 0 0 50%;
  }

  .links {
    margin-bottom: 20px;
  }

  .award h3{
        font-size: 14px;
  }

  .links i{
      display: none;
  }

}

/* 991 */

@media (max-width: 991px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 5px;
    background: #016630eb;
    width: 190px;
    height: 370px;
    padding: 15px;
    border-radius: 9px;
  }

  .nav-links a {
    color: var(--white);
  }

  .hamburger {
    display: block;
  }

  .show {
    display: flex;
  }

  .col60,
  .col40 {
    max-width: 100%;
    flex: 0 0 100%;
  }

  .col50 {
    max-width: 100%;
    flex: 0 0 100%;
  }

  .fragrance-options-row,
  .option-header,
  .plan-row {
    text-align: center;
  }

  .plan-images {
    flex-direction: column;
  }

  .plan-images img {
    max-width: 100%;
    width: 200px;
  }

  .option-header {
    margin-top: 8px;
    text-align: center;
  }

  .fragrance-item img {
    width: 900px;
    max-width: 100%;
    height: 620px;
  }

  .bigimage,
  .smallimg,
  .benefits-list {
    text-align: center;
  }

  .benefits-list img {
    display: none;
  }

  /* banner */

  .bannercard1 {
    text-align: center;
  }

  .award {
    display: flex;
    justify-content: center;
  }

  .countersection {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .plan-images img {
    width: 100%;
  }

  .price {
    margin-top: 20px;
  }

  .product-header {
    text-align: center;
  }

  /* collection */

  .collection {
    padding: 30px 20px;
  }

  .collection-wrapper {
    flex-direction: column;
    gap: 25px;
  }

  .accordion {
    width: 100%;
    text-align: center;
  }

  .collections img {
    max-width: 100%;
    width: 990px;
    height: auto;
    border-radius: 12px;
  }

  /* footer */

  footer .col20,
  footer .col40 {
    max-width: 100%;
    flex: 0 0 100%;
  }

  .footerlogo,
  .links,
  .join {
    text-align: center;
  }

  .emails {
    display: flex;
    justify-content: center;
  }

  .award h3{
       font-size: 14px;
  }

  .links i{
      display: none;
  }
}

/* 768 */
@media (max-width: 768px) {
  .col25 {
    max-width: 100%;
    flex: 0 0 100%;
  }

  .award h3{
       font-size: 13px;
  }

  .countersection{
       flex-direction: column;
  }
}

/* 575px */

@media (max-width: 575px) {
  .navbtn .cmn-btn {
    padding: 11px 21px;
  }

  .navbtn i {
    margin-right: 10px;
  }

  .award h3{
        font-size: 13px;
  }

  .fragrance-options-row,
  .option-header {
    flex-direction: column;
  }

  .counterbox h2 {
    font-size: 42px;
  }

  .thumbnail-row {
    flex-direction: column;
  }

  .thumbnail img {
    max-width: 100%;
    width: 950px;
  }

  /* collection */

  .accordion-header {
    padding: 14px;
  }

  .accordion-header h4 {
    font-size: 16px;
  }

  .accordion-body p {
    font-size: 14px;
  }

  .icon {
    font-size: 20px;
  }

  .cta .cmn-btn{
      font-size: 17px;
  }

  /* footer */

  .emails {
    flex-direction: column;
  }

  .submit {
    margin-top: 12px;
  }
 .bannercard1 h1{
      font-size: 49px;
 }
}

/* 480 */

@media (max-width: 480px) {
  .award h3 {
    font-size: 13px;
  }

  .counterbox h2 {
    font-size: 40px;
  }

  .bannercard1 h1{
       font-size:45px;
  }
}
/*


/* 375 */

@media (max-width: 375px) {
  .award img {
    position: absolute;
    left: 10px;
  }

  .award h3 {
    font-size: 12px;
  }

  .counterbox h2 {
    font-size: 32px;
    margin-bottom: 8px;
  }

  .counterbox p {
    margin-bottom: 8px;
  }

  .countersection {
    flex-direction: column;
    text-align: center;
  }

  .fragrance-item img {
    height: 280px;
  }
}
